.nav {
  text-align: center;
}
.nav ul {
  display: flex;
  justify-content: space-between;
}
.nav > ul {
  padding: 4px 16px;
}
.nav ul li {
  display: flex;
  padding: 6px 8px;
}
.nav ul li a {
  color: #067df7;
  text-decoration: none;
  font-size: 13px;
}